<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Main page</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/wrapper.css}">
</head>

<body>
<div class="wrapper">
    <div th:include="fragments/header :: site-header"></div>
    <button id="changeColorButton" type="button" class="btn btn-primary">Change Background Color
    </button>
    <script>
        $(document).ready(function () {
            // Функция для изменения цвета фона
            function changeBackgroundColor() {
                const colors = ['#ff9999', '#99ff99', '#9999ff', '#ffff99', '#ffcc99'];
                const randomColor = colors[Math.floor(Math.random() * colors.length)];
                $('body').css('background-color', randomColor);
            }

            $('#changeColorButton').click(function () {
                changeBackgroundColor();
            });
        });
    </script>
    <canvas id="graphCanvas" width="200" height="100"></canvas>
    <script>
        $(document).ready(function () {
            const graphData = [[${graph}]];
            const graphCanvas = document.getElementById('graphCanvas').getContext('2d');

            const chart = new Chart(graphCanvas, {
                type: 'bar', // тип графика (ваш выбор)
                data: {
                    labels: Array.from({length: graphData.length}, (_, i) => i + 1), // метки по оси X
                    datasets: [{
                        label: 'Graph Data',
                        data: graphData, // данные графа
                        backgroundColor: 'rgba(75, 192, 192, 0.2)', // цвет плашек графа
                        borderColor: 'rgba(75, 192, 192, 1)', // цвет границы плашек графа
                        borderWidth: 1 // ширина границы плашек графа
                    }]
                }
            });
        });
    </script>
    <h2 th:utext="${message}">message</h2>
    <div th:include="fragments/footer :: copy"></div>
</div>
</body>
</html>