<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/wrapper.css}">
</head>
<body>
<div class="wrapper">
    <h1>Demonstration adding user</h1>
    <div>
        <h2 th:text="${message}"></h2>
        <form th:action="@{/new-user}" th:object="${user}" method="post">
            <div class='is-node custom-form'>
                <label>Username:</label>
                <label>
                    <input type="text" th:field="*{username}"/>
                </label>
            </div>
            <div class='is-node custom-form'>
                <label>Firstname:</label>
                <label>
                    <input th:field="*{firstname}"/>
                </label>
            </div>
            <div class='is-node custom-form'>
                <label>Lastname:</label>
                <label>
                    <input th:field="*{lastname}"/>
                </label>
            </div>
            <br/>
            <input type="submit" value="Create"/>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div th:include="fragments/footer :: copy"></div>
</div>
</body>
</html>